

.debug {
    border: 1px solid #000;
}

.mast-img {
    width: 70%; 
    height: auto;
}


.mast-background {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
     background-image: url(../assets/img/background/img-00.jpg);
    background-size: 100% auto;
    /* background-position: top; */
    background-repeat: no-repeat;
    background-color: #e5eaeb;
}


.pole .navigation li:after {  
    width: 7px;
    border-radius: 3px;
    background-color: #e0e1e3;
}

@media only screen and (max-device-width: 481px) {
    .mast-img {
        width: 90%; 
        height: auto;
    }
    
}